# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.svn

# Data, model and binary files
crf-apply
crf-convert
crf-train
ner-annotate

demo/chunker.model
demo/chunker.model.text_model
demo/chunker.result
demo/guardian.text.result
demo/test.txt
demo/test.txt.gz
demo/train.txt
demo/train.txt.gz
demo/train.txt.annotated
